.el-pagination {
    ::v-deep {
        .btn-prev,
        .btn-next,
        .el-pager li  {
            margin: 0; 
            border-radius: 0;
            background-color: #DEE2E6;
        }
        .el-pager li  {
            font-size: 14px;
            &.is-active {
                font-weight: normal;
                background-color: #626AEF;
            }
        }
        .btn-prev {
            border-radius: 1rem 0 0 1rem;
        }
        .btn-next {
            border-radius: 0 1rem 1rem 0;
        }
    }
}
.el-button {
    ::v-deep { 
        &.el-button--primary.is-plain {
            --el-button-border-color: var(--el-color-primary-light-9);
        }
        &.el-button--warning.is-plain {
            --el-button-border-color: var(--el-color-warning-light-9);
        }
        &.el-button--danger.is-plain {
            --el-button-border-color: var(--el-color-danger-light-9);
        }
        &.el-button--info.is-plain {
            --el-button-border-color: var(--el-color-info-light-9);
        }
        &.el-button--success.is-plain {
            --el-button-border-color: var(--el-color-success-light-9);
        }
    }

}
.el-table {
    ::v-deep { 
        --el-fill-color-lighter: #f3f3f3;
        --el-table-header-bg-color: #f3f3f3;
        .el-table__header {
            height: 50px;
            thead .cell {
                color: #323232;
                font-weight: bold;
                font-size: 12px;
            }
            tr,
            th.el-table__cell { 
                // background-color: #F3F3F3!important;  
                border: 0;
            }
            th:first-child {
                border-left: var(--el-table-border);
                border-radius: 1rem 0 0 1rem;
            }
            th:last-child {
                border-right: var(--el-table-border);
                border-radius: 0 1rem 1rem 0;
            } 
        }
        .el-table__body {
            border-spacing:0px 1px;
            .el-table__row {  
                width: 100%;
                td .cell,
                .el-link,
                .el-text,
                .el-tree,
                .el-statistic {
                    font-size: 12px;
                    line-height: 15px;
                }
                td {
                    border: 0;
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
                td:first-child { 
                    border-radius: 1rem 0 0 1rem;
                }
                td:last-child { 
                    border-radius: 0 1rem 1rem 0;
                } 
                td.el-table__cell, th.el-table__cell.is-leaf {
                    border: 0;
                }
                &.el-table__row--striped {
                    td.el-table__cell {
                        // background-color: ;
                    }
                }
            }
        }
    }
}